<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <title>Rifa Solidária</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <h1>❤️ Rifa Solidária em Prol da Cirurgia da Mony ❤️</h1>

    <div class="estatisticas">
      <p><strong>Reservados:</strong> {{ reservados }}</p>
      <p><strong>Disponíveis:</strong> {{ disponiveis }}</p>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </div>
    <div class="premios">
      <div class="premio">
        <h2 style="color: #7b2cbf; margin-bottom: 10px">🏅 1º PRÊMIO</h2>

        <img
          src="{{ url_for('static', filename='imagens/relogio.jpg') }}"
          alt="Smartwatch"
        />

        <h3>Smartwatch Haylou</h3>
      </div>

      <div class="premio">
        <h2 style="color: #7b2cbf; margin-bottom: 10px">🥈 2º PRÊMIO</h2>

        <img
          src="{{ url_for('static', filename='imagens/cesta.jpg') }}"
          alt="Cesta"
        />

        <h3>Cesta de Café da Manhã</h3>
      </div>
    </div>
    <div class="info-rifa">
      <h2>
        Esta rifa solidária foi criada para ajudar a Mony a realizar uma
        cirurgia muito importante. Ao participar, você não está apenas
        concorrendo a prêmios, mas também oferecendo esperança, apoio e a
        oportunidade de um futuro melhor.
      </h2>

      <p><strong>Valor:</strong> R$ 15,00</p>

      <p><strong>Sorteio:</strong> 29/07/2026</p>

      <p><strong>PIX:</strong> 62 99905-1610</p>
      <p>
        <a
          href="https://wa.me/5562999051610?text=Olá,%20acabei%20de%20fazer%20o%20pagamento%20da%20rifa%20e%20vou%20enviar%20o%20comprovante."
          target="_blank"
          class="btn-whatsapp"
        >
          📱 Enviar comprovante pelo WhatsApp
        </a>
      </p>

      <p>Favor enviar comprovante para confirmação.</p>
    </div>
    <p>Escolha seu número</p>

    <div style="margin: 20px">
      <span
        style="
          display: inline-block;
          width: 20px;
          height: 20px;
          background: white;
          border: 1px solid #000;
        "
      ></span>
      Disponível

      <span
        style="
          display: inline-block;
          width: 20px;
          height: 20px;
          background: #ffd700;
          margin-left: 20px;
        "
      ></span>
      Reservado

      <span
        style="
          display: inline-block;
          width: 20px;
          height: 20px;
          background: #4caf50;
          margin-left: 20px;
        "
      ></span>
      Pago
    </div>

    <div class="grid">
      {% for numero in numeros %}

      <div class="numero {{ numero.status }}">
        {% if numero.status == 'reservado' or numero.status == 'pago' %}
        <span>{{ "%03d"|format(numero.numero) }}</span>
        {% else %}
        <a href="/reservar/{{ numero.id }}">
          {{ "%03d"|format(numero.numero) }}
        </a>
        {% endif %}
      </div>

      {% endfor %}
    </div>
  </body>
</html>
